<!-- <div
  id="kt_toolbar_container"
  [ngClass]="toolbarContainerCssClasses"
  class="d-flex flex-stack" -->

 
  <!-- begin::Actions  -->
 
    <!-- begin::Wrapper  -->
    <!-- <div class="me-4">
      
      <a
        class="
          btn btn-sm btn-flex btn-light btn-active-primary
          fw-bolder
          cursor-pointer
        "
        data-kt-menu-trigger="click"
        data-kt-menu-placement="bottom-end"
        data-kt-menu-flip="top-end"
      >
        <span
          [inlineSVG]="'./assets/media/icons/duotune/general/gen031.svg'"
          class="svg-icon svg-icon-5 svg-icon-gray-500 me-1"
        ></span>
        Filter
      </a>

      
    </div> -->
    <!-- end::Wrapper  -->

    <!-- begin::Button  -->
    <!-- <a
      class="btn btn-sm btn-primary cursor-pointer"
      data-bs-toggle="modal"
      data-bs-target="#kt_modal_create_app"
      id="kt_toolbar_primary_button"
    >
      Create
    </a> -->
    <!-- end::Button  -->
  <!-- </div> -->
  <!-- end::Actions  -->
<!-- </div> -->
<div>
 

  <div
    class="cursor-pointer symbol"

    data-kt-menu-trigger="click"
    data-kt-menu-attach="parent"
    data-kt-menu-placement="bottom-end"
    data-kt-menu-flip="bottom"
  >
  <!-- <img src="https://cdn-icons-png.flaticon.com/128/2550/2550414.png" data-src="https://cdn-icons-png.flaticon.com/128/2550/2550414.png" alt="Log Out " title="Log Out " width="10" height="10" class="lzy lazyload--done"style="
  width: 30px;
  height: 30px;
" srcset="https://cdn-icons-png.flaticon.com/128/2550/2550414.png 4x"> -->
<img src="https://cdn-icons-png.flaticon.com/128/8106/8106999.png" data-src="https://cdn-icons-png.flaticon.com/128/8106/8106999.png" alt="Menu bar" width="64" height="64" class="lzy lazyload--done" srcset="https://cdn-icons-png.flaticon.com/128/8106/8106999.png 4x">

    <!-- <img src="./assets/media/avatars/user.png" alt="metronic" /> -->
  </div>

  <app-user-inner></app-user-inner>
</div>
