// .x{
//   margin-left: 8rem;
// }


.table-responsive{
  background-color:#ffff ;
  padding-bottom: 1px;
  
   
  
   }
 
 .table-responsive2{
  background-color:#ffff ;
  padding-bottom:1px;
  
 

 }
 .table-responsive3{
  background-color:#ffff ;
  padding-bottom: 1px;
  
 

 }
 .fs{
  font-size: 10px;
}
.windspeedheight{
  height: 31vh;
  margin: 0;

}
.smalltableheight{
  height: 7.4vh;
  margin: 0;

}


@media only screen and(min-width: 975px) and (max-width: 667px){
  .footer{
  padding-bottom: 2%;
  }
}
// #country-state{
//   option{
//       background-color: #fff;
//       color: black;
    


//   }
// }
// .filter{
//   width: 20rem;
//   padding-right: 21rem;

// }
// .c{
//   background-color:#006666;
//   margin-top: 0rem;
//   flex-wrap: wrap;
// }
// .mixed-container{
//   width: 100%;

//   >*{
//       width: inherit;
//       justify-content:end;
//   }
// }
// table, tr, td, th{
//   border: 1px solid black;
//   border-collapse: collapse;
//   background-color: white;
//   margin-top: 25px;


// }
// table{
//   margin-bottom: 0;

// }
// .a{
//     border: 1px solid black;

// }


// .ab{
//   width: 70vh;
//   height: 50vh;

//   margin-top:45px;
//   height: 75vh;
//   justify-content: center;
//   margin-right:0.5;
//   margin-left: 0.5;
//   flex-wrap: wrap;
//   margin-bottom: -13rem;

// }


// .cd{
//     width: 50vh;
//     height: 40vh;
//     padding-left: 5rem;
//     padding-right: 5rem;
//     margin-top: 15rem;
//     margin-right: 0.5rem;
//     margin-left: -0.5rem;
//     justify-content: center;

// }
// .button{
//     padding: 9px;
//     margin-right: 8px;
// }






// .btn{

//   margin-right: 8px;
//   width: 120px;

// }
// .z{
//   padding: 11px;
//   margin: 13px;
// }
// .g{
//   margin-top: -15rem;
//   height: 60vh;
// }
// .m-11{
//   margin: -2.25rem;
// }
// .r{
//   background-color:#006666;
//   padding-block: 1rem;
//   margin-left: 0rem !important;
//   margin-top: 0rem;
// }
// .res1{
//   flex-wrap: wrap;
// }
