<!-- <div class="col-md-8">
  <div class="card1 fw-normal fs-5">
    <ul *ngIf="show1">
      <button (click)="onOpenDialogClick()" class="btn btn-danger bg-danger">Close</button>
      <li class="list-group" *ngFor="let station of activestations">
        {{ station }}
      </li>
      <li class="list-group" *ngIf="show1">{{ "" }}</li>
    </ul>
    <ul *ngIf="show2">
      <button (click)="cancle()" class="btn btn-danger bg-danger text-end">
        Close
      </button>
      <li class="list-group" *ngFor="let station of inactivestations">
        {{ station }}
      </li>
      <li class="list-group" *ngIf="show2">{{ "" }}</li>
    </ul>
  </div>
</div> -->

<!-- <div class="card fw-normal fs-5">
  <ul *ngIf="show1">
    <button (click)="cancle()" class="btn btn-danger bg-danger">Close</button>
    <li class="list-group" *ngFor="let station of activestations">
      {{ station }}
    </li>
    <li class="list-group" *ngIf="show1">{{ "" }}</li>
  </ul>

  <ul *ngIf="show2">
    <button (click)="cancle()" class="btn btn-danger bg-danger text-end">
      Close
    </button>
    <li class="list-group" *ngFor="let station of inactivestations">
      {{ station }}
    </li>
    <li class="list-group" *ngIf="show2">{{ "" }}</li>
  </ul>
</div> -->
