
<div
  [ngClass]="headerContainerCssClasses"
  class="d-flex align-items-stretch justify-content-between header-div-class" >
<img class="header-img-div" alt="Logo" src="assets/media/logos/head.png">

</div>
<app-toolbar class="toolbar justify-content-end"style="
padding-right: 2rem; position :fixed;
"></app-toolbar>

<!-- style="
position: sticky; -->

<!-- <div class="col d-flex flex-sm-row  col-md-14 col-lg-14 col-sm-14">
 

  <div
    class="cursor-pointer symbol"

    data-kt-menu-trigger="click"
    data-kt-menu-attach="parent"
    data-kt-menu-placement="bottom-end"
    data-kt-menu-flip="bottom"
  >
    <img src="./assets/media/avatars/user.png" alt="metronic" />
  </div>

  <app-user-inner></app-user-inner>
</div> -->